<section class="">
  <article class="ba b--black-10 br2 bg-white pa4 mw6 center">
    <div>
     <%= simple_form_for @tweet do |f| %>
          <%= f.error_notification %>
     <%= f.input :tweet %>
     <%= f.button :submit, class: 'bg-light-blue ba br2 pa2' %>
     <% end %>
</div>
</article>
</section>