<div class="">
	<nav class="ba b--black-10 br2 bg-white pa4 mw6 center ">
		<p class=" f6 center tc">Who to Follow</p>
          <hr class="mw3 bb bw1 b--black-10">
	
<ul class="list pl0 mt measure center">
  <li class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
      <img class="w1 h1 w2-ns h2-ns br-100" src="http://tachyons.io/img/avatar_1.jpg" />
      <div class="pl3 flex-auto">
        <span class="f6 db black-70">Sebastian Patron</span>
      </div>
      <div class="">
        <a href="#" class="f6 link blue hover-dark-gray tl">@catcco</a>
      </div>
  </li>
  <li class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
      <img class="w1 h1 w2-ns h2-ns br-100" src="http://tachyons.io/img/avatar_1.jpg" />
      <div class="pl3 flex-auto">
        <span class="f6 db black-70">Sebastian Patron</span>
      </div>
      <div class="">
        <a href="#" class="f6 link blue hover-dark-gray tl">@catcco</a>
      </div>
  </li>
</ul>
</nav>
</div>



