<section class="section ">
  <div class="container">
    <div class="columns">
    <div class="fl w-third pa2">
    <%= render 'trends' %>
    </div>

     <div class="fl w-third pa2 bg-white">
       <%= render 'form', tweets: @tweet %>
       <%= render 'feed' %>
     </div>

     <div class="fl w-third pa2">
       <%= render 'who-to-follow' %>
     </div>
       
    </div>
  </div>
</section>